/* ProductsCarousel.css */
.products-carousel-wrapper {
    position: relative;
    margin: 2rem 0;
  }
  
  .products-carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1000px; /* 3 cards de 300 + margens */
    margin: 0 auto;
  }
  
  .products-carousel-inner {
    display: flex;
    gap: 16px;
    padding: 0.5rem;
    overflow-x: auto;;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  }
  
  .products-carousel-inner::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary-400) !important;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-control.prev {
    left: 0;
  }
  
  .carousel-control.next {
    right: 0;
  }

  @media (max-width: 768px) {
    .products-carousel-inner {
      overflow-x: auto; /* Permite scroll manual em mobile */
    }
    
    .carousel-control {
      display: none; /* Esconde botões em mobile */
    }
  }