/* Estilo para os cartões de utilizadores */
.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--primary-200);
    border-radius: 10px;
    width: 220px;
    height: 280px;
    background-color: var(--primary-200);
    box-shadow: var(--box-shadow);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transições suaves */
  }
  
  .user-card:hover {
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra no hover */
  }
  
  .user-card img {
    width: 80%;
    max-width: 120px;
    height: auto;
    max-height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.3s ease; /* Adiciona transição à imagem também */
  }
  
  .user-card:hover img {
    transform: rotate(5deg); /* Roda ligeiramente a imagem no hover */
  }
  
  .user-card h1 {
    font-size: 1.2rem;
    margin: 5px 0;
    color: var(--secondary-400);
    transition: color 0.3s ease; /* Adiciona transição à cor do texto */
  }
  
  .user-card:hover h1 {
    color: var(--secondary-300); /* Altera a cor do texto no hover */
  }
  
  .user-card h4, .user-card h2, .user-card span {
    font-size: 1rem;
    margin: 5px 0;
    color: var(--primary-400);
  }
  
  .user-card button {
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--white-100);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .user-card button:hover {
    background-color: var(--secondary-300);
  }