.admin-title {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .admin-actions-grid {
    display: flex;
    justify-content: center;
    gap: 16rem;
  }
  
  .admin-actions-column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .admin-actions-center {
    display: flex;
    justify-content: center;
    margin-top: -9rem;
    margin-left: -1.5rem;
  }

  .products-btn {
    border: none;
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Adiciona a transição */
    box-shadow: var(--box-shadow);
    font-size: 0.9rem;
    font-weight: bold;
    margin: 2px;
    /* Garante que os estilos base de btn-card sejam aplicados */
    background-color: var(--white-100);
    color: var(--primary-400);
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .products-btn.btn-products {
    background-color: black;
    color: var(--white-100);
  }
  
  .products-btn.btn-products:hover {
    background-color: var(--secondary-400);
  }
  
  
  
  