/* Header */
header {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: var(--primary-400);
    color: var(--white-100);
    font-size: large;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  header a {
    color: inherit;
    text-decoration: none;
  }
  
  header h1 {
    font-family: 'Nature Impact Demo', sans-serif;
    margin: 5px;
    flex: 1;
  }
  
  header .bem-vindo {
    font-size: 1.5rem;
  }
  
  .bem-vindo {
    display: flex;
    align-items: center;
  }
  
  .img-perfil {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .img-perfil img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  header .button {
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 2rem;
  }
  
  header .fa:hover {
    transform: scale(1.05) translate(-5px);
    cursor: pointer;
  }
  
  header .fa {
    color: var(--white-100);
  }
  
  /* Classe para esconder objetos na página */
  .hidden {
    display: none !important;
  }
  
  /**/
  .navbar {
    display: flex;
  }
  
/* Estilo geral dos botões */
.navbar .button {
  display: inline-block;
  margin: 0 10px;
}

.navbar .button a,
.navbar .button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d572c; /* Cor verde escuro */
  color: white; /* Cor do texto */
  border: none;
  border-radius: 8px; /* Bordas arredondadas */
  padding: 10px; /* Espaçamento interno menor */
  font-size: 16px; /* Tamanho da fonte */
  text-decoration: none; /* Remover sublinhado */
  cursor: pointer; /* Cursor de mão */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: all 0.3s ease-in-out; /* Transição suave */
  width: 40px; /* Largura fixa para manter todos os botões iguais */
  height: 40px; /* Altura fixa para manter todos os botões iguais */
}

/* Hover nos botões */
.navbar .button a:hover,
.navbar .button button:hover {
  background-color: #3b6e3a; /* Cor mais clara ao passar o mouse */
  transform: scale(1.05); /* Leve aumento no tamanho */
}

/* Ícones dentro dos botões */
.navbar .button i {
  margin: 0; /* Centralizar o ícone */
}

.language-selector-container {
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; 
}