.pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  .pagination-button {
    background-color: var(--primary-300);
    height: 30px;
    border: none;
    width: 30px;
    /* Ajuste o tamanho conforme necessário */
    color: var(--white-100);
    font-weight: bold;
    border-radius: 5px;
    /* Opcional: para dar um aspeto arredondado */
    margin: 5px;
    /* Adicione margem para espaçamento */
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Adicione transição suave */
  }
  
  .pagination-button:hover {
    background-color: var(--primary-400);
  }
  
  /* Estilo para o botão ativo */
  .pagination-button.active {
    background-color: var(--primary-400);
    /* Cor mais escura para o botão ativo */
    color: var(--white-100);
  }
  
  
  