/* AdminContent.module.css */
.main-container {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-100);
  padding: 20px;
}

.admin-content {
  flex: 1;
  padding: 20px;
  background-color: var(--white-100);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.admin-content h1 {
  color: var(--black);
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column; /* Coloca a sidebar acima do conteúdo em telas menores */
  }
}

  