/* GlobalStyles.module.css */

:root {
  --primary-color: #809671;
  --primary-100: #d2deca;
  --primary-200: #a4b698;
  --primary-300: #617851;
  --primary-400: #3e542f;
  --secondary-color: #9a747e;
  --secondary-100: #e4d0d5;
  --secondary-200: #bb9ca4;
  --secondary-300: #7b535e;
  --secondary-400: #56303a;
  --secondary-500: #9a052a;
  --black: #000;
  --white: #fff;
  --white-100: #e5e0d8;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  --danger-color: #dc3545;
  /* Vermelho */
  --info-color: #17a2b8;
  /* Azul claro */
  --warning-color: #ffc107;
  /* Amarelo */
  --light-color: #f8f9fa;
  /* Cinza muito claro */
  --dark-color: #343a40;
  /* Cinza escuro */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: var(--primary-100);
}

main {
  flex: 1;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-100);
  padding: 20px;
}

.hidden {
  display: none !important;
}

@font-face {
  font-family: 'Nature Impact Demo';
  src: url('../src/fonts/Nature\ Impact\ Demo.otf') format('opentype');
}
